.checkout {
        margin-top: 64px;
        display: flex;
        justify-content: space-between;

    &__form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__field {
        text-align: left;
        width: 360px;
        padding: 13px 0 16px 18px;
        margin-bottom: 20px;
        border: 1px solid #A4A4A4;
    }

    &__button {
        background: #F16D7F;
        border: none;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
        padding: 15px 40px;
        margin-bottom: 100px;
        transition: all 2s;
    }

    &__button:hover {
        transform:rotate(180deg);
    }
    &__header {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: #222222;
        padding-bottom: 20px;
    }

    &__gender {
        padding-top: 15px;
        padding-bottom: 30px;
        transition: all 3s;
    }

    &__gender:hover {
        transform:scale(1.25);
    }

    &__gender_text {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 300;
        font-size: 11px;
        line-height: 13px;
        color: #000000;
        padding-right: 20px;
        padding-left: 10px;
    }

    &__left_text {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 300;
        font-size: 13px;
        line-height: 16px;
        color: #B1B1B1;
        padding-bottom: 40px;
        width: 360px;
    }

    &__right {
        padding-left: 130px;
    }

    &__right_header {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 29px;
        color: #000000;
        padding-bottom: 22px;
}

    &__right_text {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 29px;
        padding-bottom: 20px;
    }

    &__list {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 29px;
        color: #000000;
        padding-bottom: 16px;
    }

    &__check {
        padding-right: 22px;
    }
}